In [41]:
import numpy as np
import pandas as pd
from tqdm import tqdm

## 정류장 마스터 정보

In [22]:
master = pd.read_csv('public_answer_data/서울시 따릉이대여소 마스터 정보.csv', encoding='CP949')
master

       대여소_ID                     주소1              주소2         위도          경도
0      ST-999      서울특별시 양천구 목동서로 280    목동아파트 8단지 상가동   0.000000    0.000000
1      ST-998      서울특별시 양천구 목동서로 130    목동아파트 4단지 상가동   0.000000    0.000000
2      ST-997      서울특별시 양천구 목동중앙로 49    목동3단지 시내버스정류장  37.534390  126.869598
3      ST-996  서울특별시 양천구 남부순환로88길5-16       양강중학교앞 교차로  37.524334  126.850548
4      ST-995    서울특별시 양천구 신정동 621-14  계남공원 입구 주출입구 좌측  37.510681  126.857399
...       ...                     ...              ...        ...         ...
3158  ST-1002    서울특별시 양천구 목동동로 316-6     서울시 도로환경관리센터  37.529900  126.876541
3159  ST-1001     서울특별시 양천구 남부순환로4길20          서서울호수공원   0.000000    0.000000
3160  ST-1000       서울특별시 양천구 신정동 236      서부식자재마트 건너편  37.510380  126.866798
3161   ST-100      서울특별시 광진구 아차산로 262      더샵스타시티 C동 앞  37.536667  127.073593
3162    ST-10        서울특별시 마포구 양화로 93              427  37.552746  126.918617

[3163 rows x 5 columns]

In [23]:
# 자치구 도출
master['자치구'] = master['주소1'].apply(lambda x: x.split()[1] if '구' in x else 'no')

In [24]:
master

,대여소_ID,주소1,주소2,위도,경도,자치구
0,ST-999,서울특별시 양천구 목동서로 280,목동아파트 8단지 상가동,0.000000,0.000000,양천구
1,ST-998,서울특별시 양천구 목동서로 130,목동아파트 4단지 상가동,0.000000,0.000000,양천구
2,ST-997,서울특별시 양천구 목동중앙로 49,목동3단지 시내버스정류장,37.534390,126.869598,양천구
3,ST-996,서울특별시 양천구 남부순환로88길5-16,양강중학교앞 교차로,37.524334,126.850548,양천구
4,ST-995,서울특별시 양천구 신정동 621-14,계남공원 입구 주출입구 좌측,37.510681,126.857399,양천구
...,...,...,...,...,...,...
3158,ST-1002,서울특별시 양천구 목동동로 316-6,서울시 도로환경관리센터,37.529900,126.876541,양천구
3159,ST-1001,서울특별시 양천구 남부순환로4길20,서서울호수공원,0.000000,0.000000,양천구
3160,ST-1000,서울특별시 양천구 신정동 236,서부식자재마트 건너편,37.510380,126.866798,양천구
3161,ST-100,서울특별시 광진구 아차산로 262,더샵스타시티 C동 앞,37.536667,127.073593,광진구
3162,ST-10,서울특별시 마포구 양화로 93,427,37.552746,126.918617,마포구

In [27]:
# 필요한 자치구의 정류장 정보만 저장
need_master = master[master['자치구'].isin(['광진구', '동대문구', '성동구', '중랑구'])].reset_index(drop=True)
need_master

     대여소_ID                   주소1            주소2         위도          경도  자치구
0     ST-99      서울특별시 광진구 능동로 10  뚝섬유원지역 1번출구 앞  37.531860  127.067192  광진구
1    ST-988      서울특별시 광진구 능동로 42      신양초교앞 교차로  37.535221  127.068398  광진구
2    ST-987    서울특별시 광진구 아차산로 304           원일교회  37.538052  127.076599  광진구
3    ST-986   서울특별시 광진구 아차산로78길 7         광진유진스웰  37.550488  127.108955  광진구
4    ST-985  서울특별시 광진구 능동로 지하 417     중곡역 1번출구 앞  37.565659  127.084297  광진구
..      ...                   ...            ...        ...         ...  ...
403  ST-104    서울특별시 성동구 성수이로 147     아이에스비즈타워 앞  37.548203  127.057114  성동구
404  ST-103    서울특별시 성동구 광나루로 249  송정금호어울림 아파트 앞  37.549061  127.057793  성동구
405  ST-102    서울특별시 광진구 아차산로 355  타워더모스트 광진아크로텔  37.537010  127.082245  광진구
406  ST-101     서울특별시 광진구 뚝섬로 596      신자초교입구교차로  37.532970  127.075935  광진구
407  ST-100    서울특별시 광진구 아차산로 262    더샵스타시티 C동 앞  37.536667  127.073593  광진구

[408 rows x 6 columns]

In [48]:
need_id = list(need_master['대여소_ID'])

## 20220101~20220630 따릉이 대여 데이터

In [37]:
month = []
for i in range(1, 7):
    month.append('0'+str(i))

In [38]:
month

['01', '02', '03', '04', '05', '06']

In [34]:
day = []
for i in range(1, 32):
    if i < 10:
        day.append('0'+str(i))
    else:
        day.append(str(i))

In [36]:
print(day)

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']

In [43]:
f = pd.DataFrame(columns = ['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체건수', '전체_이용_분', '전체_이용_거리'])

for m in tqdm(month):
    for d in day:
        
        try:
            df = pd.read_csv(f'public_answer_data/tpss_bcycl_od_statnhm_2022{m}/tpss_bcycl_od_statnhm_2022{m}{d}.csv', encoding='CP949')
            df.columns = ['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체건수', '전체_이용_분', '전체_이용_거리']
            f = pd.concat([f, df], axis=0)
            
        except UnicodeDecodeError:
            df = pd.read_csv(f'public_answer_data/tpss_bcycl_od_statnhm_2022{m}/tpss_bcycl_od_statnhm_2022{m}{d}.csv')
            df.columns = ['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체건수', '전체_이용_분', '전체_이용_거리']
            f = pd.concat([f, df], axis=0)
        
        except FileNotFoundError:
            continue

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [06:29<00:00, 64.84s/it]

In [49]:
f.shape

(34970996, 7)

In [50]:
f.isna().sum()

기준_날짜        0
기준_시간대       0
시작_대여소_ID    0
종료_대여소_ID    0
전체건수         0
전체_이용_분      0
전체_이용_거리     0
dtype: int64

In [53]:
# 마스터 정보 결합
total = pd.merge(f, need_master, how='left', left_on='시작_대여소_ID', right_on='대여소_ID')
total

,기준_날짜,기준_시간대,시작_대여소_ID,종료_대여소_ID,전체건수,전체_이용_분,전체_이용_거리,대여소_ID,주소1,주소2,위도,경도,자치구
0,20220101,0,ST-102,ST-102,1,2,0,ST-102,서울특별시 광진구 아차산로 355,타워더모스트 광진아크로텔,37.537010,127.082245,광진구
1,20220101,0,ST-1105,ST-563,1,9,1481,NaN,NaN,NaN,NaN,NaN,NaN
2,20220101,0,ST-1262,ST-2370,1,2,520,NaN,NaN,NaN,NaN,NaN,NaN
3,20220101,0,ST-1295,ST-2720,1,44,0,NaN,NaN,NaN,NaN,NaN,NaN
4,20220101,0,ST-1403,ST-2964,1,6,430,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34970991,20220630,2355,ST-565,ST-2273,1,16,1994,NaN,NaN,NaN,NaN,NaN,NaN
34970992,20220630,2355,ST-1631,ST-2502,1,2,284,ST-1631,서울특별시 동대문구 왕산로 87,제기역1번출구,37.578350,127.033386,동대문구
34970993,20220630,2355,ST-2420,ST-97,1,19,4210,ST-2420,서울특별시 성동구 사근동 241-1,NaN,37.561192,127.049683,성동구
34970994,20220630,2355,ST-1215,ST-1631,1,6,810,NaN,NaN,NaN,NaN,NaN,NaN
34970995,20220630,2355,ST-983,ST-590,1,16,1936,ST-983,서울특별시 광진구 능동로 313,군자역2번출구,37.557587,127.079697,광진구

In [57]:
# 필요한 자치구의 정류장 정보만 저장
need = total[total['시작_대여소_ID'].isin(need_id)]
need

,기준_날짜,기준_시간대,시작_대여소_ID,종료_대여소_ID,전체건수,전체_이용_분,전체_이용_거리,대여소_ID,주소1,주소2,위도,경도,자치구
0,20220101,0,ST-102,ST-102,1,2,0,ST-102,서울특별시 광진구 아차산로 355,타워더모스트 광진아크로텔,37.537010,127.082245,광진구
18,20220101,0,ST-2280,ST-401,1,2,410,ST-2280,서울특별시 동대문구 이문동 346-131,NaN,37.592384,127.057411,동대문구
20,20220101,0,ST-262,ST-242,1,8,1714,ST-262,서울특별시 동대문구 장한로 25길 2,장안동 사거리,37.572174,127.071388,동대문구
21,20220101,0,ST-262,ST-262,1,1,0,ST-262,서울특별시 동대문구 장한로 25길 2,장안동 사거리,37.572174,127.071388,동대문구
28,20220101,0,ST-393,ST-276,1,4,600,ST-393,서울특별시 동대문구 전농로 34,답십리초등학교 앞(현대시장 옆),37.568192,127.057175,동대문구
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34970989,20220630,2355,ST-1378,ST-97,1,7,1354,ST-1378,서울특별시 광진구 자양로 167,광진경찰서,37.542519,127.084084,광진구
34970990,20220630,2355,ST-2335,ST-2507,1,7,1540,ST-2335,서울특별시 성동구 마장로 302,NaN,37.565979,127.043114,성동구
34970992,20220630,2355,ST-1631,ST-2502,1,2,284,ST-1631,서울특별시 동대문구 왕산로 87,제기역1번출구,37.578350,127.033386,동대문구
34970993,20220630,2355,ST-2420,ST-97,1,19,4210,ST-2420,서울특별시 성동구 사근동 241-1,NaN,37.561192,127.049683,성동구
34970995,20220630,2355,ST-983,ST-590,1,16,1936,ST-983,서울특별시 광진구 능동로 313,군자역2번출구,37.557587,127.079697,광진구

In [64]:
summary = need.groupby(['자치구', '기준_날짜'])[['전체건수']].sum().reset_index()
summary

     자치구     기준_날짜  전체건수
0    광진구  20220101  2846
1    광진구  20220102  2660
2    광진구  20220103  4992
3    광진구  20220104  5136
4    광진구  20220105  5348
..   ...       ...   ...
719  중랑구  20220626  6854
720  중랑구  20220627  4780
721  중랑구  20220628  5562
722  중랑구  20220629  2632
723  중랑구  20220630   392

[724 rows x 3 columns]

In [66]:
public_answer = pd.pivot_table(summary,                # 피벗할 데이터프레임
                               index = '기준_날짜',    # 행 위치에 들어갈 열
                               columns = '자치구',    # 열 위치에 들어갈 열
                               values = '전체건수')     # 데이터로 사용할 열

In [79]:
answer = public_answer.reset_index()
answer

자치구     기준_날짜    광진구  동대문구   성동구   중랑구
0    20220101   2846  2382  1892  1634
1    20220102   2660  2378  1846  1694
2    20220103   4992  4210  4066  2730
3    20220104   5136  4480  4258  2782
4    20220105   5348  4540  4352  2778
..        ...    ...   ...   ...   ...
176  20220626  12726  8302  8394  6854
177  20220627   8750  6912  7114  4780
178  20220628  11076  8386  8770  5562
179  20220629   5070  4140  4282  2632
180  20220630   1066   680   800   392

[181 rows x 5 columns]

In [80]:
answer.to_csv('self_evaluation/public_answer_20220101_20220630.csv', index=False)