## 자체 제작 Public 정답셋을 활용한 Submit 자체평가

In [1]:
import numpy as np
import pandas as pd

In [19]:
answer = pd.read_csv('self_evaluation/public_answer_20220101_20220630.csv')
sub = pd.read_csv('self_evaluation/submit_1206_v2.csv')

In [20]:
answer = answer.set_index('기준_날짜')/1000
answer = answer.reset_index()
answer

        기준_날짜     광진구   동대문구    성동구    중랑구
0    20220101   2.846  2.382  1.892  1.634
1    20220102   2.660  2.378  1.846  1.694
2    20220103   4.992  4.210  4.066  2.730
3    20220104   5.136  4.480  4.258  2.782
4    20220105   5.348  4.540  4.352  2.778
..        ...     ...    ...    ...    ...
176  20220626  12.726  8.302  8.394  6.854
177  20220627   8.750  6.912  7.114  4.780
178  20220628  11.076  8.386  8.770  5.562
179  20220629   5.070  4.140  4.282  2.632
180  20220630   1.066  0.680  0.800  0.392

[181 rows x 5 columns]

In [21]:
sub = sub.loc[:180]
sub

           일시        광진구      동대문구        성동구       중랑구
0    20220101   5.012126  4.955349   3.981368  3.248964
1    20220102   4.890572  4.091061   3.839741  2.906270
2    20220103   4.491541  3.523550   4.214362  3.333726
3    20220104   4.830761  4.236707   4.537591  3.454104
4    20220105   5.174708  4.520705   4.459974  3.753731
..        ...        ...       ...        ...       ...
176  20220626  11.122221  9.966077  11.226528  7.127103
177  20220627  11.827585  9.255885  12.159982  7.491306
178  20220628  12.849643  9.415636  11.762699  6.962234
179  20220629  13.942116  9.988865  11.704715  7.239792
180  20220630  14.057243  9.773226  10.006925  7.914733

[181 rows x 5 columns]

In [26]:
sub = round(sub, 3)

In [27]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(answer[['광진구', '동대문구', '성동구', '중랑구']], sub[['광진구', '동대문구', '성동구', '중랑구']])

1.8783135359116023